<a href="https://colab.research.google.com/github/laptionok/SB_Data-analysis/blob/main/3.3_%D0%A7%D1%82%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B8%D0%B7%20%D0%B1%D0%B0%D0%B7%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85%20%D1%81%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%D1%8E%20pandas%20%D0%B8%20sqlalchemy_Data%20R%26W_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Чтение и запись данных

In [ ]:
import sqlalchemy
import psycopg2
import pandas as pd

## Урок 3. Чтение из баз данных с помощью pandas и sqlalchemy

### Практика

#### Задание 1

Подключитесь к базе данных, загрузите содержимое таблицы `course_purchases` в DataFrame и выведите первые 10 строк на экран.

#### Задание 2

Используя DataFrame из предыдущего задания, определите для каждого курса количество пользователей, купивших его. Подсказка: используйте метод groupby.

#### Задание 3.

Используя SQL-запрос с группировкой (GROUP BY), определите для каждого курса количество пользователей, купивших его. Результат запроса загрузите в DataFrame и выведите первые 10 строк на экран.